@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 220 20% 97.6%;
    --foreground: 220 40% 10%;
    --card: 0 0% 100%;
    --card-foreground: 220 40% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 40% 10%;
    --primary: 214 100% 43%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 14% 92%;
    --secondary-foreground: 220 40% 10%;
    --muted: 220 14% 92%;
    --muted-foreground: 220 10% 40%;
    --accent: 220 14% 92%;
    --accent-foreground: 220 40% 10%;
    --destructive: 0 100% 65%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 13% 88%;
    --input: 220 13% 88%;
    --ring: 214 100% 43%;
    --chart-1: 214 100% 43%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    scroll-behavior: smooth;
  }
}
